
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.gradient-background {
  background: linear-gradient(to right, #0e730e, #e6ebe6);
  /* Adjust the direction and colors as needed */
}
.gradient-background2 {
  background: linear-gradient(to right,#e6ebe6,  #0e730e);
  /* Adjust the direction and colors as needed */
}

.bg-color{
  background-color:  #4ec66c2f;
}

.bg-color2{
 background: linear-gradient(to bottom,#c1e2c1,  #02191016);
  /* Adjust the direction and colors as needed */
}
.bg-colorinput{
  background-color: #e1eae716
}
.bt-color{
  background-color: #0b460b24;
}

.position_below{
  position: absolute;
  bottom: 5%;
  width: 24%;
}

@media (min-width: 600px) and (max-width: 900px) {


  .custome-margin{
    margin-top: 90%;
    font-size: smaller;
  }
  .custom-image-size{
    margin-top: -1%;
    top: 0;
    width: 10%;
    height: 10%;
    font-size: smaller;
  }
  .font-size{
    font-size: smaller;
  }
}

@media  (max-width: 600px) {
 .font-size{
    font-size: smaller;
  }
  .position_below{
  position: absolute;
  bottom: 10%;
  margin-top: 10%;
  width: 24%;
  justify-content: space-between;
}
.custom_size{
  display: flex;
  flex-direction: row;
 
  padding-top: -10%;
  margin-top: 1%;
}
.MenuCompSize{
  height: 100vh;
}
.createdToday{
 padding: 10%;
}
}